.preview {
  padding: 15px 0;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;

  svg{
    width: 1.5em;
    height: 1.5em;
    fill: currentColor;
  }
}

.name {
  font-family: $font-family-sans-serif;
}

.show-code {
  color: $brand-black;
}

.show-code:hover, .show-code:active, .show-code:focus {
  color: #252525;
  text-decoration: none;
}

.quick-search {
  width: 200px;
  margin: 25px auto;
  position: relative;
}

.quick-search i {
  position: absolute;
  left: 7px;
  top: 7px;
  color: #ccc;
}

.quick-search input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  text-indent: 22px;
  width: 100%;
}

.quick-search input:focus {
  border-color: #999;
}

.quick-search input:focus + i {
  color: #999;
}

.small-icons, .small-icons .icons {
  font-size: 8pt;
  vertical-align: middle;
}

.medium-icons {
  vertical-align: middle;
}

.large-icons, .large-icons .icons {
  font-size: 22pt;
  vertical-align: middle;
}

.font-size-changer a {
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 3px;
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
}

.font-size-changer a.active {
  border-color: #999;
  color: #333;
}

svg {
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  vertical-align: -0.125em;
}
