
.hero{

  background-image: url("/assets/img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2348494b' fill-opacity='0.28' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  */
}

.hero-dark{
  background: #000000ba;
}

.nav-docs {
  line-height: 2em;

  h4 {
    margin-top: 1.33em;
  }
}

@media only screen and (max-width: 480px) {
  .nav-docs {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;

    h4 {
      margin-top: 0;
      display: inline-block;
    }

    ul {
      margin: 0;
      padding: 0 10px;
      display: inline-block;

      li {
        padding: 0 15px;
        display: inline-block;
      }

    }
  }

}


main {
  line-height: 2em;
  overflow: hidden;
  color: $gray-900;

  img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $brand-black;
    font-weight: 300;
  }


  h2 {
    margin-bottom: 1em !important;

    a {
      padding-left: 25px;
    }

    a:before {
      content: "#";
      margin-left: -25px;
      position: absolute;
      font-size: 28px;
      color: $brand-primary;
      opacity: .5;
    }
  }


  p {
    margin: 0 0 1em;
  }

  pre {
    margin: 0 0 1.66em;
  }

  li {
    padding-bottom: 0.33em;
  }

  pre {
    margin-bottom: 1.66em !important;
  }

  blockquote {
    border-left: 2px solid $brand-primary;
    position: relative;
    padding: 1em;
    font-size: 1em;
    line-height: 2em;
    margin: 1.66em 0;
    background: #f6f8fa;
    @extend .box-shadow-lg;

    &:before{
      position: absolute;
      top: 1em;
      left: -0.8em;
      background-color: $brand-primary;
      color: #fff;
      content: "!";
      width: 1.5em;
      height: 1.5em;
      border-radius: 100%;
      text-align: center;
      line-height: 1.5em;
      font-weight: bold;
    }
    >p{
      margin-bottom: 0;
    }
  }

}


#docs main {
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}


main, main div {
  //animation: blur 620ms;
  line-height: 1.8em;

  ul {
    padding: 0 4rem;
  }

  ol {
    padding: 0 1.5rem;
  }

  .h2, .h3, h2, h3 {
    margin-top: 40px;
    margin-bottom: 15px;
  }


  p {
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: .85em;

    > a {
      text-decoration: underline;
    }
  }

  iframe {
    @extend .b;
    @extend .box-shadow-lg;
    margin-bottom: 15px;
    @extend .w-full;
  }

  &::selection {
    background: $brand-info;
    color: $brand-white;
  }

}

$column-name: anchor-h;
$column-count: 6;

.text-orchid {
  color: #AC5CA0;
}

.desc {
  margin-left: 20%;
  overflow: hidden;
}

.column {
  float: left;
}

.ico {
  color: #AC5CA0;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}


.github_screenshot {
  position: absolute;
  right: -35%;
  bottom: -12%;
  //right: -20%;
  //bottom: -11.5%;
}


@media (min-width: 1800px) {
  .github_screenshot {
    right: -15%;
  }
}


.github {
  height: 700px;
  position: relative !important;
  overflow: hidden !important;
}

pre[class*=language-] {
  background: initial;
  border: none;
  //font-family: $font-family-sans-serif;

  font-size: 14px;
  letter-spacing: 0.05em;
  @extend .bg-dark;
}


code[class*="language-"], pre[class*="language-"] {
  //font-family: $font-family-sans-serif !important;
  font-size: 0.92rem;
  letter-spacing: 0.001rem;
  @extend .bg-dark;
  @extend .text-white;
}

#docs-search-result {
  animation: blurin 340ms ease-in;
}

@keyframes blurin {
  0% {
    opacity: 0.7;
    filter: blur(16px);
  }
  25% {
    opacity: 0.8;
    filter: blur(8px);
  }
  50% {
    opacity: 0.9;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.search-navbar-input {
  padding: 11px 16px;
  border-radius: 2px 0 0 2px;
  border: 0 none;
  outline: 0 none;
  font-size: 15px;
  color: #000;
}

.search-navbar-button {
  border-radius: 0 2px 2px 0;
  padding: 10px 0;
  height: 43px;
  cursor: pointer;
}


input::-webkit-outer-adjust-hue-button,
input::-webkit-inner-adjust-hue-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.list-inline{
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.toc-links {
  padding-left: 1em;
  > li {
    list-style: none;
  }
  .toc-links-1 li{
    padding-top: 0.3em;
  }
}

li.anchor-h3 {
    margin-left: 1.5em;
}
