$primary: #C16EBB;
$secondary: #fff;
$dark: #272531;
$grey: #F9F9FE;

$code-color: $primary;

$body-bg: $dark;
$body-color: #FFFFFF;
$link-color: #312E3E;

$btn-border-radius: 1rem;
$btn-border-radius-lg: 0.75rem;
$btn-focus-width: 0;

$card-spacer-y: 3rem;
$card-spacer-x: 1.5rem;

$nav-link-color: #c1bcbc !default;
$nav-link-hover-color: #FFFFFF !default;

$border-radius-lg: 0.8em;


$input-bg: rgba(0, 0, 0, 0.2);
$input-focus-bg: rgba(0, 0, 0, 0.3);
$input-border-color: $primary;
$input-focus-border-color: $primary;
$input-border-radius: $btn-border-radius;
$input-font-weight: 500;

// Vendor
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
//@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
//@import "~bootstrap/scss/dropdown";
//@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/accordion";
//@import "~bootstrap/scss/breadcrumb";
//@import "~bootstrap/scss/pagination";
//@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/toasts";
//@import "~bootstrap/scss/modal";
//import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
//@import "~bootstrap/scss/spinners";
//@import "~bootstrap/scss/offcanvas";
//@import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

// Plugins
@import "highlight";
@import "icons";


$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "grey":       $grey,
);

*:focus {
    outline: 0 !important;
}

html, body {
    font-kerning: normal;
}

.bg-main {
    background-image: radial-gradient(100% 100% at 0% 0%, #CA72B7 0%, #914680 23.78%, #3F2660 100%);
    background-position: bottom;
    background-size: 100vw auto;
    background-repeat: no-repeat;
}

header {
    background: linear-gradient(90deg, #312E3E 0%, #3C394A 48.78%, #312E3E 100%);
    box-shadow: 7px 11px 55px rgba(0, 0, 0, 0.3);
    border-radius: 1.4em;
}


@include media-breakpoint-up(md) {
    .footer-tentacles {
        background: url(/img/next/footer-tentacli.svg) no-repeat left bottom;
        background-size: contain;
    }

    .bg-main {
        -webkit-mask: url(/img/next/home-bg-mask.svg);
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .top-union {
        -webkit-mask: url(/img/next/home-bg-mask.svg);
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .bottom-union {
        -webkit-mask: url(/img/next/bg-reverse.svg);
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover;
    }
}

.card {
    background: #312E3E;
    box-shadow: 7px 11px 55px rgba(0, 0, 0, 0.1);
    border-radius: 1.7em;
}



.card-feature {
    //max-width: 380px;
    min-height: 550px;
    @extend .mx-auto;
}

.btn-outline-primary {
    color: #fff !important;
    background: rgba(125, 122, 139, 0.1) !important;

    &:hover {
        background: rgba(125, 122, 139, 0.2) !important;
    }
}

.logo {
    height: 1.5em;
}

.text-primary{
    background: -webkit-linear-gradient(#CA72B7 25%, #914680 70%, #3F2660 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 0.2em rgb(0 0 0 / 5%);
}


@media only screen and (max-width: 480px) {
    main, main div {
        ul {
            padding: 0 0 0 2rem!important;
        }
    }
}

main, main div {
    max-width: 45rem;
    line-height: 1.8em;

    ul {
        padding: 0 4rem;
    }

    ol {
        padding: 0 1.5rem;
    }

    .h2, .h3, h2, h3 {
        margin-top: 1.5em;
        margin-bottom: 15px;
    }

    p {
        font-size: 1em;
        line-height: 1.6em;
        margin-bottom: 1.5rem;
        @extend .text-wrap;
        @extend .text-break;

        > a {
            text-decoration: underline;
        }
    }
}


main {
    line-height: 1.5em;
    overflow: initial;
    color: $dark;

    img {
        display: block;
        max-width: 100%;
        object-fit: cover;
        border-radius: 0.5em;
        margin: 0 auto;
    }

    picture {
        &:after {
            content: attr(alt);
            text-align: center;
            display: block;
            @extend .text-muted;
            font-size: 0.775em;
            max-width: calc(66% - 48px);
            margin: 1em auto 2em auto;
            line-height: 1.5em;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;
        a {
            color: $black;
            text-decoration: none;
        }
    }


    h2 {
        margin-bottom: 1em !important;

        a:target {
            &:before {
                transform: rotate(200deg);
            }
        }

        a {
            display: block;
            text-wrap: balance;
            @include media-breakpoint-down(lg) {
                padding-left: 1em;
            }
            transition: all 340ms;
            &:before {
                transition: all 340ms;
                content: "#";
                margin-left: -1em;
                position: absolute;
                font-size: 1em;
                color: $primary;
                opacity: .5;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    /*
    p {
        margin: 0 0 1em;
    }

     */

    li {
        padding-bottom: 0.33em;
    }

    pre {
        border-radius: $border-radius;
        margin-bottom: 2em !important;
    }

    blockquote {
        //background: #F9F9FE;
        background: #180a5a14;
        box-shadow: 16px 16px 36px rgba(24, 10, 90, 0.05);
        border-radius: $border-radius;
        padding: 1.5em;
        position: relative;
        margin: 2em 0;
        @extend .text-wrap;
        @extend .text-break;

        &:before{
            position: absolute;
            top: -0.5em;
            left: -0.3em;
            background-color: $dark;
            color: #fff;
            content: "!";
            width: 1.5em;
            height: 1.5em;
            border-radius: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 1.5em;
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;
            box-shadow: 5px 5px 13px rgba(63, 26, 60, 0.29);
        }
        >p{
            margin-bottom: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }

    }

}


@include media-breakpoint-down(md) {
    main {
        picture {
            &:after {
                max-width: 80% !important;
            }
        }
    }
}

.anchors {
    ul{
        padding: 0 1.5em;
        li{
            margin: 0;
            padding: 0;
        }
        li.anchor-h3 {
            margin-left: 1.5em;
            list-style: inside;
        }

        li.anchor-h4 {
            margin-left: 2.5em;
            list-style: inside;
        }
    }
    a {
        color: $dark;
        transition: all 340ms ease;
        text-decoration: none;
        font-weight: 500;

        &:hover {
            color: $primary;
        }
    }
}

.nav-docs{
    ul {
        list-style: none;
        padding: 0;
    }
}

@include media-breakpoint-up(lg) {
    .nav-docs{
        max-width: 320px;
    }
}

@include media-breakpoint-down(lg) {
    .nav-docs {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;

        h4 {
            margin-top: 0;
            display: inline-block;
        }

        ul {
            margin: 0;
            padding: 0;
            display: inline-block;

            li {
                padding: 0;
                display: inline-block;
                border-left: none !important;
            }

        }
    }
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

.opacity-slow {
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.opacity-slow.show {
    opacity: 1;
}

.btn {
    border: $btn-border-width dashed rgba(255, 255, 255, 0.20);
}

.form-control {
    border: $input-border-width dashed rgba(255, 255, 255, 0.20);
}

#docs {
    .btn {
        border: $btn-border-width dashed rgba(0, 0, 0, 0.45);
    }
}


.link-more {
    svg {
        transition: 340ms all;
        padding-right: 0.1em;
    }

    &:hover {
        text-decoration: underline;

        svg {
            padding-right: 0!important;
        }
    }
}


.footer {
    background: linear-gradient(180deg, rgb(255 255 255 / 0%), rgb(0 0 0 / 25%));
}

.friends {
    a {
        filter: grayscale(200) invert(0.50);
        transition: 540ms all;

        img{
            width: 100%;
            min-width: 100px;
            max-width: 150px;
            display: block;
            margin: 1em;
            max-height: 40px;
            object-fit: contain;
        }

        &:hover{
            filter: grayscale(0);
        }
    }
}

.love-confetti {
    background: url("/img/next/confetti.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.card-back-rotate {
    position: absolute!important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    transform: rotate(350deg);
    background: linear-gradient(315deg, rgba(202, 114, 183, 0.35) 0%, rgba(145, 70, 128, 0.35) 35.87%, rgba(63, 38, 96, 0.35) 82.29%);
}

.docs-banner {
    @extend .d-none;
    @extend .d-md-flex;
    @extend .text-center;
    @extend .text-md-start;
    @extend .align-items-center;
    @extend .gap-4;
    @extend .bg-dark;
    @extend .text-white;
    @extend .px-5;
    @extend .py-4;
    @extend .mb-4;
    @extend .shadow;
    @extend .rounded-3;
    @extend .position-relative;

    label {
        color: #CA72B7;
    }

    p {
        line-height: 1.4;
        margin-bottom: 0;
    }

    .btn-outline-primary {
        border: 2px solid #C16EBB !important;
    }
}

.text-balance {
    text-wrap: balance;
}

.hero-code {
    background: #2C2939;

    pre {
        overflow: hidden;
        user-select: none;
        background: #2C2939;
        margin: 0;
        padding: 1.5rem 0;

        code {
            overflow: hidden;
        }
    }
}
