.display-flex {
  display: flex;
}

.padder-v-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}


/* Animate */

.list-group.no-radius .list-group-item{
  transition: padding-left .4s;
}
a.list-group-item:hover, a.list-group-item:focus, a.list-group-item.hover{
  padding-left: 20px;
}




/* select2 */

.multiselect__tag{
  background: @brand-info;

  .multiselect__tag-icon:after{
    color: @brand-light;
  }

}

.multiselect__option--highlight, .multiselect__option--highlight::after{
  background: @brand-info;
}

.multiselect__option--highlight::after{

}

.multiselect__option--selected.multiselect__option--highlight,
.multiselect__option--selected.multiselect__option--highlight::after{
  background: @brand-info;
  content: '';
}

multiselect__spinner::after, .multiselect__spinner::before{
  border-color: @brand-info transparent transparent !important;
}







.nav-docs{
  line-height: 2em;
  h4{
    margin-top: 1.33em;
  }
}

main{
  line-height: 2em;
  overflow: hidden;
  text-align: justify;
  img{
    max-width: 100%;
    height: auto;
  }


  h1,h2,h3,h4,h5,h6{
    color: @brand-black;
    font-weight: 300;
  }

  p{
    margin: 0 0 1em;
  }

  pre{
    margin: 0 0 1.66em;
  }
  li{
    padding-bottom: 0.33em;
  }
  pre{
    margin-bottom: 1.66em!important;
  }

  blockquote{
    font-size: inherit;
    line-height: 2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 1.66em 0;
  }

}
